.navbar-inverse, .list-group-item, .twitter-timeline{
    background-color:  #292F33;
}

.jumbotron{
    background:black;
}

h2 > b
{
    color:white;
}

.modal-body, .modal-header, .modal-footer{
    background-color:  black;
}

.modal-footer > .btn-default{
    background-color: #292F33;
}
