<div class="modal-header">
    <h1 style="color:white; font-family: Luckiest Guy">Match ID : {{id}}</h1>
</div>
<div class="modal-body">
<div class="container-fluid">
    <div class="col-md-6">
        <label style="color:white; font-family: Luckiest Guy">Radiant</label>
    </div>
    <div class="col-md-6">
        <label style="color:white; font-family: Luckiest Guy">Dire</label>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn-default" ng-click="ok()"><label style="color:white; font-family: Luckiest Guy">OK</label></button>
    <button class="btn-default" ng-click="cancel()"><label style="color:white; font-family: Luckiest Guy">Cancel</label></button>
</div>
