
<div class="containe-fluid">
    <div class="row jumbotron">
        <div class="col-md-4 text-center">
            <div class="container-fluid" ng-if="memberController.currentMember === 'Loda'">
                    <twitter-timeline>
                        <a class="twitter-timeline" data-widget-id="701022336242294784"> </a>
                    <twitter-timeline> 
                </div>
                <div class="container-fluid" ng-if="memberController.currentMember === 'Akke'">
                    <twitter-timeline>
                        <a class="twitter-timeline" data-widget-id="701044645627879424"> </a>
                    <twitter-timeline> 
                </div>
                <div class="container-fluid" ng-if="memberController.currentMember === 'Bulldog'">
                    <twitter-timeline>
                        <a class="twitter-timeline" data-widget-id="701044916693168129"> </a>
                    <twitter-timeline> 
                </div>
                <div class="container-fluid" ng-if="memberController.currentMember === 'EGM'">
                    <twitter-timeline>
                        <a class="twitter-timeline" data-widget-id="701044479969644544"> </a>
                    <twitter-timeline> 
                </div>
                <div class="container-fluid" ng-if="memberController.currentMember === 's4'">
                    <twitter-timeline>
                        <a class="twitter-timeline" data-widget-id="701044800032792576"> </a>
                    <twitter-timeline> 
                </div>   
        </div>
        <div class="col-md-4 text-center">
            <ul class="list-group" ng-repeat="match in memberController.matchHistory">
                <li class="list-group-item">
                    Hero : {{match.hero}}
                    Lobby : {{match.lobby_type}}
                    MatchID : {{match.id}}
                </li>
            </ul>
         </div>
         <div class="col-md-4 text-center">
             <h3>Stream</h3>
         </div>
    </div>
 </div>



