<div ng-include="'../views/nav.html'"></div>
<div class="jumbotron row">
    <div class="col-md-4 text-center" id="twitterCol">
        <h2 style="font-family: Luckiest Guy;"><b>TWITTER</b></h2>
        <div class="container-fluid" ng-if="memberController.currentMember === 'Loda'">
            <twitter-timeline>
                <a class="twitter-timeline" data-widget-id="701022336242294784"> </a>
                <twitter-timeline>
        </div>
        <div class="container-fluid" ng-if="memberController.currentMember === 'Akke'">
            <twitter-timeline>
                <a class="twitter-timeline" data-widget-id="701044645627879424"> </a>
                <twitter-timeline>
        </div>
        <div class="container-fluid" ng-if="memberController.currentMember === 'Bulldog'">
            <twitter-timeline>
                <a class="twitter-timeline" data-widget-id="701044916693168129"> </a>
                <twitter-timeline>
        </div>
        <div class="container-fluid" ng-if="memberController.currentMember === 'EGM'">
            <twitter-timeline>
                <a class="twitter-timeline" data-widget-id="701044479969644544"> </a>
                <twitter-timeline>
        </div>
        <div class="container-fluid" ng-if="memberController.currentMember === 's4'">
            <twitter-timeline>
                <a class="twitter-timeline" data-widget-id="701044800032792576"> </a>
                <twitter-timeline>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <h2 style="font-family: Luckiest Guy;"><b>MATCHES</b></h2>
        <div vs-repeat id="matchesContainer" style="height: 600px; overflow:scroll;overflow-x:hidden;"
             ng-show="!memberController.detailsAvailable">
            <div ng-repeat="match in memberController.matchHistory" style="border-bottom: solid 1px white">
                <div class="container" id="match">
                    <div class="col-md-4">
                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/{{match.hero}}_sb.png">
                    </div>
                    <div class="col-md-8">
                        <label style="color:white;">Date : {{memberController.getStartTime(match.start_time)}}</label>
                        <label style="color:white;">Match ID : {{match.id}}</label>
                        <a class="badge" ng-click="memberController.getmatchDetails(match.id)">match details</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="memberController.detailsAvailable">
            {{memberController.matchDetails}}
        </div>
    </div>
    <div class="col-md-4 text-center" id="generalCol">
        <h2 style="font-family: Luckiest Guy;"><b>GENERAL INFO</b></h2>
    </div>
</div>


