<div class="containe-fluid">
    <div class="row jumbotron">
        <div class="col-md-4 text-center">
            <div class="container-fluid" ng-if="memberController.currentMember === 'Loda'">
                <twitter-timeline>
                    <a class="twitter-timeline" data-widget-id="701022336242294784"> </a>
                    <twitter-timeline>
            </div>
            <div class="container-fluid" ng-if="memberController.currentMember === 'Akke'">
                <twitter-timeline>
                    <a class="twitter-timeline" data-widget-id="701044645627879424"> </a>
                    <twitter-timeline>
            </div>
            <div class="container-fluid" ng-if="memberController.currentMember === 'Bulldog'">
                <twitter-timeline>
                    <a class="twitter-timeline" data-widget-id="701044916693168129"> </a>
                    <twitter-timeline>
            </div>
            <div class="container-fluid" ng-if="memberController.currentMember === 'EGM'">
                <twitter-timeline>
                    <a class="twitter-timeline" data-widget-id="701044479969644544"> </a>
                    <twitter-timeline>
            </div>
            <div class="container-fluid" ng-if="memberController.currentMember === 's4'">
                <twitter-timeline>
                    <a class="twitter-timeline" data-widget-id="701044800032792576"> </a>
                    <twitter-timeline>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <ul class="list-group">
                <li ng-if="memberController.matchHistory.length === 0">
                    <i class="glyphicon glyphicon-thumbs-down" style="color:white;"></i>
                    <h1 style="color:white;">If no matches shows up after a while then {{memberController.currentMember}} decided not to reveal public match  data :/
                    </h1>
                </li>
                <li class="list-group-item" ng-repeat="match in memberController.matchHistory">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/{{match.hero}}_sb.png"
                                 style="margin-top: 15px;">
                        </div>
                        <div class="col-md-8">
                            <label style="color:white;">Lobby : {{match.lobby_type}}</label>
                            <label style="color:white;">Match ID : {{match.id}}</label>
                            <span class="badge">match details</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-md-4 text-center">

        </div>
    </div>
</div>



